<h1><%= @article.title %></h1>
<p><%= @article.body %></p><br>


<table>
  <tr>
    <td><%= link_to "Delete", @article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td>&nbsp&nbsp&nbsp</td>
    <td><%= link_to "Edit", edit_article_path %></td>
    <td>&nbsp&nbsp&nbsp</td>
    <td><%= link_to "  << Back to articles list  ", articles_path %></td>
  </tr>
</table>